.cards{
    background-color: $gray;
    position: absolute;
    top: 0;
    left: 15000px;
    width: 100vw;
}
.playCards{
    animation: startPlayCards 1s;
    z-index: 1;
    left: 0;
}
@keyframes startPlayCards{
    0%{
        left: 15000px;
    }
    100%{
        left: 0px;
    }
}