.menu {
  background-color: $lemon;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 600px;
  font-weight: 700;
}
.triangleToBottom {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 100px 0 100px;
  visibility: hidden;
  cursor: pointer;
  &:hover{
      transform: scale(1.1);
  }
}
.middleTriangle {
   width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 100px 150px 100px;
  border-color: transparent transparent $red transparent;
  cursor: pointer;

  &__text {
    position: relative;
    top: 90px;
    left: -25px;
  }

  &:hover{
      transform: scale(1.5);
  }
}
.leftTriangle {
  @extend .triangleToBottom;
  border-color: $blue transparent transparent transparent;

  &__text{
      position: relative;
      text-align: center;
      top: -130px;
      left: -50px;
      width: 100px;
  }
}
.rightTriangle {
  @extend .triangleToBottom;
  border-color: $gray transparent transparent transparent;

  &__text{
      position: relative;
      top: -100px;
      left: -20px;
  }
}
.bottomTriangle {
  @extend .triangleToBottom;
  border-color: $green transparent transparent transparent;
  margin-left: 200px;
  margin-top: 100px;

  &__text{
      position: relative;
      top: -100px;
      left: -35px;
  }
}
.v_show{
  visibility: visible;
  animation: show 2s;
}
@keyframes show{
  0%{
    transform: scale(0.1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}